<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <%= render './users/left-page', book: @book, user: @book_detail.user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book_detail.user_id) do %>
                <%= image_tag @user.get_profile_image(100,100) %></br>
                <%= @book_detail.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book_detail) do %>
                <%= @book_detail.title %>
              <% end %>
            </td>
            <td>
              <%= @book_detail.body %>
            </td>
            <% if @book_detail.favorited_by?(current_user) %>
              <td>
                <%= link_to book_favorite_path(@book_detail), method: :delete do %>
                  <i class="fa-solid fa-heart" style="color: #e12d2d;"></i><%= @book_detail.favorites.count %>
                <% end %>
              </td>
            <% else %>
              <td>
                <%= link_to book_favorite_path(@book_detail), method: :post do %>
                  <i class="fa-solid fa-heart"></i><%= @book_detail.favorites.count %>
                <% end %>
              </td>
            <% end %>
            <td>
              コメント数：<%= @book_detail.book_comments.count %>
            </td>
            <% if @book_detail.user_id == current_user.id %>
              <td>
                <%= link_to "Edit", edit_book_path(@book_detail), class: "btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book_detail), method: :delete, class:"btn btn-sm btn-danger destroy_book_161812" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div>
        <% @book_detail.book_comments.each do |book_comment| %>
          <%= image_tag book_comment.user.get_profile_image(100,100) %>
          <%= book_comment.comment %>
          <% if book_comment.user == current_user %>
            <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-sm btn-danger destroy_book_161812" %>
          <% end %>
          <p>
            <%= link_to user_path(book_comment.user_id) do %>
              <%= book_comment.user.name %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book_detail, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', class:"form-control" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>